.jumboContainer {
    display: flex;
}

.jumboText {
    flex: 1;
    font-weight: 500;
    height: 100vh;
    margin-right: -30%;
    margin-top: 30px;
    z-index: 1;
}

.nameSpan {
    color: #5A0134;
}

.imageContainer {
    display: flex;
}